.lists_container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 2 60px 1fr;
  
  width: 100%;
  padding: 2rem;

  @media (max-width: 697px) {
    flex-direction: column;
  }

  @media (max-width: 480px) {
    padding: 0.6rem;
  }
}
